.main-card{
    top: 300px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
} 
.mob-num-email-btn{
    position: relative;
    top: 500px!important;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}