.main-card{
    top: 70px;
    width: 307px;
    height: 300px;
    border-radius: 5px;
} 
.mob-num-email-btn{
    position: relative;
    top: 90px;
    left: 18px;
    width: 265px!important;
    height: 55px;
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
}
.facebook-btn{
    position: relative;
    top: 100px;
    left: 18px;
    width: 120px;
    height: 43px;
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    font-size: 12px;
}
.face-img {
    position: relative;
    right: 0vw;
    max-width: 100%;
    border: 0;
}
.insta-btn{
    position: relative;
    top: 54px;
    left: 145px;
    width: 135px;
    height: 43px;
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    font-size: 12px;
}
.insta-img {
    position: relative;
    right: 1vw;
    max-width: 100%;
    border: 0;
}
.copyrights{
    position: relative;
    top: 50px;
    left: 100px;
    font-size: 12px;
}
.shoe-img{
    position: relative;
    top: 10vh;
    height: 40vh;
}