.taxivip{
    position: relative;
    top: 65px;
    left: 17px;
    height: 19px;
}
.shoe-img{
    position: relative;
    top: 11vh;
    height: 35vh;
    width: 305px;
    left: 8px;
    box-shadow: none;
}
.main-card{
    top: 60px;
    width: 307px;
    height: 280px;
    
    border-radius: 5px;
    background:transparent;

    box-shadow: 1px 1px 1px 1px white;

    /* -webkit-box-shadow: none; */
} 
.mob-num-email-btn{
    position: relative;
    top: 80px;
    left: 18px;
    width: 265px!important;
    height: 55px;
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
    /* font-family: ; */
    font-size: 15px;
}
.facebook-btn{
    position: relative;
    top: 100px;
    left: 18px;
    width: 120px;
    height: 43px;
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    font-size: 12px;
}
.face-img {
    position: relative;
    right: 1vw;
    max-width: 100%;
    border: 0;
}
.insta-btn{
    position: relative;
    top: 54px;
    left: 150px;
    width: 135px;
    height: 43px;
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    font-size: 12px;
}
.insta-img {
    position: relative;
    right: 2vw;
    max-width: 100%;
    border: 0;
}
.copyrights{
    position: relative;
    top: 55px;
    left: 110px;
    font-size: 12px;
}